@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #F9FAFB;
}

body[class='dark']{
    background: #000;
}

.loader {
    animation: load 1.5s infinite ease-in-out;
    display: block;
}

.loader2 {
    animation: load 2.5s infinite ease-in-out;
    display: block;
}

.loader3 {
    animation: load 3.5s infinite ease-in-out;
    display: block;
}

@keyframes load {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
    }
}